# # Local MediaWiki config
# LocalSettings.php

# MacOS temp files
*.DS_Store

# Temporary images
images/tmp/

# IDE files
.vscode/
.idea/
.phpstorm.meta.php
*.swp
*.swo

# Cache and logs
cache/
logs/

